// import components scss files

@use "../components/variables" as *;
@use "../components/breakpoints" as *;
@use "../components/mixins" as *;

/* ==================
     start top 
   ================== */

/*.top {
  font-size: 12px;
  color: var(--white-color);
  background-color: #222;
  text-align: center;
  padding: 15px 0;
  @include media-breakpoint-down(lg) {
    display: none;
  }

  .test,
  .email {
    display: flex;
    justify-content: flex-start;
  }
  i {
    font-size: 14px;
  }
  .email,
  address {
    margin-left: 50px;
    i {
      color: var(--green-color);
      margin-right: 10px;
    }
  }
  .socials {
    text-align: right;
    margin-right: var(--mb-32);
    i {
      cursor: pointer;
      margin-left: 10px;
      color: var(--darker-text-color);
      &:hover {
        color: var(--green-color);
      }
    }
  }
}
*/
/* ==================
     start header
   ================== */

header {
  position: fixed;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 1px 15px 20px -14px #c9c7c7;
  z-index: 2;
  @include media-breakpoint-down(lg) {
    position: fixed;
    width: 100%;
    justify-content: space-between;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include media-breakpoint-down(lg) {
      justify-content: space-between;
    }
    .logo {
      width: 20%;
      font-weight: 700;
      font-size: 32px;
      text-align: left;
      @include media-breakpoint-down(lg) {
        font-size: 28px;
        padding: 15px;
      }
      span {
        color: var(--green-color);
      }
    }
    nav {
      width: 40%;
      display: flex;
      justify-content: center;
      transition: 0.5s ease-in-out;
      @include media-breakpoint-down(lg) {
        position: fixed;
        flex-direction: column;
        background-color: var(--white-color);
        top: -100%;
        right: 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        &.active {
          /*  right: 0;*/
          top: 0;
        }
      }
      .nav__list {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
        @include media-breakpoint-down(lg) {
          flex-direction: column;
          border-right: transparent;
          justify-content: center;
          text-align: center;
          width: 100%;
        }
        .nav__item {
          .nav__link {
            display: inline-flex;
            transition: $secondTransition;
            margin: 25px 15px;
            color: var(--dark-text-color);
            font-size: 15px;
            &.active,
            &:hover {
              color: var(--black-color);
            }
            @include media-breakpoint-down(lg) {
              padding-top: 15px;
              margin: 15px;
              font-size: 20px;
            }
          }
        }
      }
    }
    .login {
      width: 20%;
      display: flex;
      text-align: right;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(lg) {
        display: none;
      }
      a.button {
        color: var(--dark-text-color);
        border: 1px solid var(--dark-text-color);
        &:hover {
          color: var(--white-color);
          border: 1px solid transparent;
        }
      }
    }
  }
}
/* ================
     menu-toggle 
   ================ */
.menu-toggle {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 25px;
  @include media-breakpoint-down(lg) {
    display: block;
  }
  i {
    font-size: 28px;
  }
  i:nth-of-type(1) {
    display: block;
  }
  &.active i:nth-of-type(1) {
    display: none;
  }
  i:nth-of-type(2) {
    display: none;
  }
  &.active i:nth-of-type(2) {
    display: block;
  }
}
